
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

$background-color: #242b2e;
$primary-color: #fed731 !default;
$primary-color-light: true !default;
$primary-color-dark: false !default;
@if not $primary-color-light {
	$primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
	$primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: #7abc43 !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;

$link-color: $secondary-color !default;
