
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import "node_modules/font-awesome/scss/font-awesome.scss";

// Variables
@import "variables";

//helper definations
@import "_helpers";

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//Materialize
@import "node_modules/materialize-css/sass/materialize";

nav{
	box-shadow: none;
}
html, body {
    background-color: $background-color;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    height: 100vh;
    margin: 0;
}